{% extends '@EasyAdmin/page/login.html.twig' %}

{% block body %}
    <form method="post" action="{{ path('app_login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="hidden" name="_target_path" value="/admin" />

        <div class="form-group">
            <label class="form-control-label required" for="username">Логин</label>
            <div class="form-widget">
                <input
                    type="text"
                    id="username"
                    name="_username"
                    class="form-control"
                    value="{{ last_username }}"
                    required
                    autofocus
                    autocomplete="username"
                >
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label required" for="password">Пароль</label>
            <div class="form-widget">
                <input
                    type="password"
                    id="password"
                    name="_password"
                    class="form-control"
                    required
                    autocomplete="current-password"
                >
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger mt-2">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Вход</button>
        </div>
    </form>
{% endblock %}
